<%- include('partials/header'); -%>

<div class="w3-row" id="row">

    <div class="w3-container w3-half"  id="cont">

        <span class="body1"><%= "<body>" %></span>

        <div class="body2"><%= "<h1>" %></div>
        <div class=" w3-oregano abt">
            <p style="width: 200px;">ABOUT ME</p>
        </div>
            
        <span class="abody3"><%= "</h1>" %></span>

        <span class="abody4"><%= "<p>" %></span>

        <div class="spara">
            <p> I'm a web designer / developer . I have a passion for web design and love to create for web and mobile devices.<br>
                I like to keep it simple. My goals are to focus on typography, content and conveying the message that you want to send <br>
                I enjoy building everything from small sites to big interactive web applications<br>
                A sociable, responsible, optimistic, organized and proactive person with fast learning skills.<br>
            </p>
        </div>

        <span class="abody5"><%= "</p>" %></span> 

        <div class="demo3">
            <span class="body6"><%= "</body>" %></span>
            <p class="body7"><%= "</html>" %></p>
        </div>

    </div>

    <div class="w3-container w3-half"  id="cont">
        <div class="img1">
            <img src="../images/about.png">
        </div>

    </div>

        <div class="quarter-circle-top-right abot"></div>
        <div class="quarter-circle-top-right1 abot"></div>

        <div id="wrapper1">
            <img src="/images/logo.png">
            <div class="loader-outer1">
            <div class="loader-inner1">
                <i class="fa fa-ellipsis-h" aria-hidden="true"></i>
            </div>
            </div>
            <h1><span>Sanket is Thinking</span></h1>
        </div>
</div>

<%- include('partials/footer'); -%>