<%- include('partials/header'); -%>

<div class="w3-row" id="row">
    <div class="w3-container w3-half"  id="cont">
        <span class="body1"><%= "<body>" %></span>

            <div class="body2"><%= "<h1>" %></div>
            <div class="w3-oregano abt">
              <p style="width: 200px;">I'M HERE</p>
            </div>
            <div class="map">
                <div class="cnt">
                  <img src="/images/night.png" style="width:100%;height:430px;">
                  <div class="content">
                    <h1><i class="fas fa-map-marker-alt"></i>   Address</h1>
                    <p>Amrita School Of Engineering, Kerala<br>India</p>
                    <a class="typeform-share button" href="https://sanketcbe.typeform.com/to/RIP90h" data-mode="popup" style="display:inline-block;text-decoration:none;background-color:#515152;color:white;cursor:pointer;font-family:Helvetica,Arial,sans-serif;font-size:20px;line-height:50px;text-align:center;margin:0;height:50px;padding:0px 33px;border-radius:25px;max-width:100%;white-space:nowrap;overflow:hidden;text-overflow:ellipsis;font-weight:bold;-webkit-font-smoothing:antialiased;-moz-osx-font-smoothing:grayscale;" data-submit-close-delay="2" target="_blank"><i class="far fa-hand-peace"></i>Hey! </a> <script> (function() { var qs,js,q,s,d=document, gi=d.getElementById, ce=d.createElement, gt=d.getElementsByTagName, id="typef_orm_share", b="https://embed.typeform.com/"; if(!gi.call(d,id)){ js=ce.call(d,"script"); js.id=id; js.src=b+"embed.js"; q=gt.call(d,"script")[0]; q.parentNode.insertBefore(js,q) } })() </script>
                  </div>
                </div>
                <span class="cbody3"><%= "</h1>" %></span>
            </div>
    </div>
    <div class="w3-container w3-half" style="background-color: #1B3430;" id="cont">
        <div class="secondh">
            <h1 class="w3-oregano">Let's Talk</h1>
            <p>If you have a project that you want to get started,think you need my help with something or just fancy saying hey, then get in touch.</p>
        </div>
        <div class="container">
    
            <div class="card-wrapper">
              
              <div class="card">
                
                <div class="card-image">
                  <img src="/images/logo.png" alt="profile one">
                </div>
        
              <ul class="social-icons">
                <li>
                  <a href="">
                    <i class="fab fa-facebook-f"></i>
                  </a>
                </li>
                <li>
                  <a href="">
                    <i class="fab fa-instagram"></i>
                  </a>
                </li>
                <li>
                  <a href="">
                    <i class="fab fa-twitter"></i>
                  </a>
                </li>
                <li>
                  <a href="">
                    <i class="fab fa-dribbble"></i>
                  </a>
                </li>
              </ul>
        
              <div class="details">
                <h2>SANKET
                  <br>
                  <span class="job-title">WEB DEVELOPER</span>
                </h2>
              </div>
            </div>
          </div>
         </div>
    </div>
</div>  


<div id="wrapper1">
  <img src="/images/logo.png">
  <div class="loader-outer1">
    <div class="loader-inner1">
      <i class="fa fa-ellipsis-h" aria-hidden="true"></i>
    </div>
  </div>
  <h1><span>Sanket is Thinking</span></h1>
</div>

<div class="callout">
  <span class="closebtn" onclick="this.parentElement.style.display='none';">×</span>
  <div class="callout-container">
    <p>The social links will not work as they are under development mode</p>
  </div>
</div>

<%- include('partials/footer'); -%>