<%- include('partials/header'); -%>

<div class="w3-row" id="row">
    <div class="w3-container w3-half"  id="cont">

        <span class="body1"><%= "<body>" %></span>

            <div class="body2"><%= "<h1>" %></div>
            <div class="w3-oregano abt">
                <p style="width: 150px;">SKILLS</p>
            </div>
                
            <span class="abody3"><%= "</h1>" %></span>
            
            <span class="abody4"><%= "<p>" %></span>
            
            <div class="spara">
                <p> I have build some web application and also designed UI for the apps.<br>
                    HTML, CSS, JS , jQuery, building small and medium web apps with ReactJs, NodeJS, MongoDB, custom plugins, features, animations, and coding interactive layouts.<br>
                    I have also design UI for web applications using Figma .<br>
                    <br>
                    Visit my <a href="https://www.linkedin.com/in/teknas07/">LinkedIn</a> profile for more details or <a href="/contact">contact</a> me ..
                </p>
            </div>
            
            <span class="abody5"><%= "</p>" %></span>
            <div class="demo3">
                <span class="body6"><%= "</body>" %></span>
                <p class="body7"><%= "</html>" %></p>
            </div>
            
    </div>

    <div class="w3-container w3-half" id="cont">
        
        <div id="wrap">
            <div id="prism">
            <div id="front"><img src="/images/logo1.png"></div>            
            <div id="bottom"><img src="/images/logo2.png"></div>
            <div id="back"><img src="/images/logo3.png"></div>
            </div>
        </div>
        
        <div class="quarter-circle-top-right abot"></div>
        <div class="quarter-circle-top-right1 abot"></div>
        

        <div id="wrapper1">
            <img src="/images/logo.png">
            <div class="loader-outer1">
            <div class="loader-inner1">
                <i class="fa fa-ellipsis-h" aria-hidden="true"></i>
            </div>
            </div>
            <h1><span>Sanket is Thinking</span></h1>
        </div>   
    </div>
</div>
<%- include('partials/footer'); -%>