<%- include('partials/header'); -%>

<div id="cont1">

    <span class="body1"><%= "<body>" %></span>

    <div class="body2"><%= "<h1>" %></div>
    <div class="w3-oregano abt1">
        <p style="width: 200px;"> MY WORK</p>
    </div>
    <span class="abody3"><%= "</h1>" %></span>
</div>
<div class="w3-row-padding" id="resp">
    <div class="w3-third">
        <div class="container1">
            <img src="/images/work1.jpg" alt="Avatar" class="image" style="width:100%">
            <div class="middle">
              <div class="text"><a href="https://codesandbox.io/s/github/teknas07/Keeper_App">View Project</a></div>
            </div>
            <div class="content1">
                <p style="color: #00ffd1;">Save what's on your mind</p>
                <p>Keeper_App is a note-taking service application</p>
            </div>
        </div>
    </div>
  
    <div class="w3-third">
        <div class="container1">
            <img src="/images/work2.jpg" alt="Avatar" class="image" style="width:100%">
            <div class="middle">
              <div class="text"><a href="https://github.com/teknas07/Multiple_list">View Project</a></div>
            </div>
            <div class="content1">
                <p style="color: #00ffd1;">Multiple_List</p>
                <p>A user can create multiple Todo List  </p>
            </div>
        </div>
    </div>
    <div class="w3-third">
        <div class="container1">
            <img src="/images/work3.jpg" alt="Avatar" class="image" style="width:100%">
            <div class="middle">
              <div class="text"><a href="https://github.com/teknas07/TinDog">View Project</a></div>
            </div>
            <div class="content1">
                <p style="color: #00ffd1;">Your pet's happy place</p>
                <p>Tindog is a social app for dog lovers who want to connect with nearby owners and their adorable dogs.</p>
            </div>
        </div>
    </div>
    <div class="w3-third">
        <div class="container1">
            <img src="/images/work2.jpg" alt="Avatar" class="image" style="width:100%">
            <div class="middle">
              <div class="text"><a href="https://github.com/teknas07/Whisper">View Project</a></div>
            </div>
            <div class="content1">
                <p style="color: #00ffd1;">No,This is something secret !</p>
                <p>A secret-sharing app which allows people to post anonymous</p>
            </div>
        </div>
    </div>
    <div class="w3-third">
        <div class="container1">
            <img src="/images/work3.jpg" alt="Avatar" class="image" style="width:100%">
            <div class="middle">
              <div class="text"><a href="https://github.com/teknas07/Color_Sequence">View Project</a></div>
            </div>
            <div class="content1">
                <p style="color: #00ffd1;">Color_Sequence</p>
                <p>A user have to follow the sequence given by the computer , if you miss Game over .</p>
            </div>
        </div>
    </div>
    <div class="w3-third">
        <div class="container1">
            <img src="/images/work4.jpg" alt="Avatar" class="image" style="width:100%">
            <div class="middle">
              <div class="text"><a href="https://github.com/teknas07/BlogApp">View Project</a></div>
            </div>
            <div class="content1">
                <p style="color: #00ffd1;">Blog_App</p>
                <p>A blogging platform</p>
            </div>
        </div>
    </div>
</div>

<div class="quarter-circle-top-right abot"></div>
<div class="quarter-circle-top-right1 abot"></div>


<div id="wrapper1">
    <img src="/images/logo.png">
    <div class="loader-outer1">
      <div class="loader-inner1">
        <i class="fa fa-ellipsis-h" aria-hidden="true"></i>
      </div>
    </div>
    <h1><span>Sanket is Thinking</span></h1>
</div>
  

<%- include('partials/footer'); -%>